**/*.exe
**/*.out
**/*.txt
**/*.dll
**/*.html
**/*.ttf
!**/s*.ttf
quickformat.cpp

Graphics/first.cpp
Graphics/first.c
Graphics/InitialGLFW.cpp
Graphics/InitialRay.c
**/.vscode/
**/quick.cpp
**/quick.c
**/draft.cpp
**/draft.c

Draft/
C++/
Basic/
Complex/
!Graphics/